<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Các thẻ meta trên phải đi trước trong head; mọi nội dung khác phải đặt sau các thẻ này -->
    <title>Voting Online</title>

    <meta
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
      name="viewport"
    />
    <!-- Các font và biểu tượng -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
    />
    <!-- Các file CSS -->
    <link
      href="../assets/css/material-dashboard.css?v=2.1.2"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- giao diện bổ sung -->
    <div class="wrapper">
      <div
        class="sidebar"
        data-color="green"
        data-background-color="white"
        data-image="./assets/img/sidebar-1.jpg"
      >
        -->
        <div class="sidebar-wrapper">
          <ul class="nav" style="margin-top: 50px">
            <li class="nav-item">
              <a class="nav-link" href="/candidateDetails">
                <i class="material-icons">info</i>
                <p>Thông Tin Ứng Viên</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/addCandidate">
                <i class="material-icons">person_add</i>
                <p>Thêm Ứng Viên</p>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">
                <i class="material-icons">how_to_reg</i>
                <p>Đăng Ký</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/changePhase">
                <i class="material-icons">published_with_changes</i>
                <p>Thay Đổi Giai Đoạn</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">
                <i class="material-icons">logout</i>
                <p>Đăng Xuất</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="main-panel">
        <!-- Navbar -->
        <nav
          class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top"
        >
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <a class="navbar-brand" href="javascript:;"></a>
            </div>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              aria-controls="navigation-index"
              aria-expanded="false"
              aria-label="Chuyển đổi điều hướng"
            >
              <span class="sr-only">Chuyển đổi điều hướng</span>
              <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
            </button>
          </div>
        </nav>

        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-success">
                    <h4 class="card-title">Đăng Ký Cử Tri</h4>
                  </div>
                  <div class="card-body">
                    <div>
                      <table class="table">
                        <tr>
                          <th>S.N</th>
                          <th>Địa chỉ tài khoản</th>
                          <th>Trạng thái</th>
                        </tr>

                        <% if(userData.length!=0){ var i=0;
                        userData.forEach(function(data){ console.log(data) %>
                        <tr>
                          <td><%=i; %></td>
                          <td><%=data.Account_address%></td>
                          <td><%= data.registered_voters %></td>
                        </tr>
                        <% i++; }) %> <% } else{ %>
                        <tr>
                          <td colspan="7">Không có dữ liệu</td>
                        </tr>
                        <% } %>
                      </table>
                    </div>
                    <form onsubmit="App.registerVoter(); return false;">
                      <div class="form-group">
                        <br />
                        <input
                          type="text"
                          class="form-control"
                          id="accadd"
                          placeholder="Vui lòng nhập địa chỉ tài khoản cử tri.."
                          required
                        />
                        <!-- <label>Voter Account</label> -->
                      </div>
                      <br />
                      <button type="submit" class="btn btn-success">
                        Đăng Ký
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Navbar -->
      </div>
    </div>

    <!-- giao diện bổ sung -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/web3.min.js"></script>
    <script src="js/truffle-contract.js"></script>
    <script src="js/app.js"></script>
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!-- Plugin cho momentJs -->
    <script src="../assets/js/plugins/moment.min.js"></script>
    <!-- Plugin xác thực form -->
    <script src="../assets/js/plugins/jquery.validate.min.js"></script>
    <!-- Plugin cho Tags -->
    <script src="../assets/js/plugins/bootstrap-tagsinput.js"></script>
    <!-- Plugin cho file upload -->
    <script src="../assets/js/plugins/jasny-bootstrap.min.js"></script>
    <!-- Plugin bản đồ vector -->
    <script src="../assets/js/plugins/jquery-jvectormap.js"></script>
    <!-- Plugin cho Slider -->
    <script src="../assets/js/plugins/nouislider.min.js"></script>
    <!-- Polyfill cho ES6 Promises -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
    <!-- Thư viện cho việc thêm phần tử động -->
    <script src="../assets/js/plugins/arrive.min.js"></script>
    <!-- Plugin thông báo -->
    <script src="../assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Trung tâm điều khiển cho Material Dashboard -->
    <script
      src="../assets/js/material-dashboard.js?v=2.1.2"
      type="text/javascript"
    ></script>

    <script>
      $(document).ready(function () {
        $().ready(function () {
          $sidebar = $(".sidebar");

          $sidebar_img_container = $sidebar.find(".sidebar-background");

          $full_page = $(".full-page");

          $sidebar_responsive = $("body > .navbar-collapse");

          window_width = $(window).width();

          fixed_plugin_open = $(
            ".sidebar .sidebar-wrapper .nav li.active a p"
          ).html();

          if (window_width > 767 && fixed_plugin_open == "Dashboard") {
            if ($(".fixed-plugin .dropdown").hasClass("show-dropdown")) {
              $(".fixed-plugin .dropdown").addClass("open");
            }
          }

          $(".fixed-plugin a").click(function (event) {
            // Alex nếu chúng ta click vào chuyển đổi, ngừng việc truyền đi sự kiện, không cho dropdown bị ẩn
            if ($(this).hasClass("switch-trigger")) {
              if (event.stopPropagation) {
                event.stopPropagation();
              } else if (window.event) {
                window.event.cancelBubble = true;
              }
            }
          });

          $(".fixed-plugin .active-color span").click(function () {
            $full_page_background = $(".full-page-background");

            $(this).siblings().removeClass("active");
            $(this).addClass("active");

            var new_color = $(this).data("color");

            if ($sidebar.length != 0) {
              $sidebar.attr("data-color", new_color);
            }

            if ($full_page.length != 0) {
              $full_page.attr("filter-color", new_color);
            }

            if ($sidebar_responsive.length != 0) {
              $sidebar_responsive.attr("data-color", new_color);
            }
          });

          $(".fixed-plugin .background-color .badge").click(function () {
            $(this).siblings().removeClass("active");
            $(this).addClass("active");

            var new_color = $(this).data("background-color");

            if ($sidebar.length != 0) {
              $sidebar.attr("data-background-color", new_color);
            }
          });

          $(".fixed-plugin .img-holder").click(function () {
            $full_page_background = $(".full-page-background");

            $(this).parent("li").siblings().removeClass("active");
            $(this).parent("li").addClass("active");

            var new_image = $(this).find("img").attr("src");

            if (
              $sidebar_img_container.length != 0 &&
              $(".switch-sidebar-image input:checked").length != 0
            ) {
              $sidebar_img_container.fadeOut("fast", function () {
                $sidebar_img_container.css(
                  "background-image",
                  'url("' + new_image + '")'
                );
                $sidebar_img_container.fadeIn("fast");
              });
            }

            if (
              $full_page_background.length != 0 &&
              $(".switch-sidebar-image input:checked").length != 0
            ) {
              var new_image_full_page = $(".fixed-plugin li.active .img-holder")
                .find("img")
                .data("src");

              $full_page_background.fadeOut("fast", function () {
                $full_page_background.css(
                  "background-image",
                  'url("' + new_image_full_page + '")'
                );
                $full_page_background.fadeIn("fast");
              });
            }

            if ($(".switch-sidebar-image input:checked").length == 0) {
              var new_image = $(".fixed-plugin li.active .img-holder")
                .find("img")
                .attr("src");
              var new_image_full_page = $(".fixed-plugin li.active .img-holder")
                .find("img")
                .data("src");

              $sidebar_img_container.css(
                "background-image",
                'url("' + new_image + '")'
              );
              $full_page_background.css(
                "background-image",
                'url("' + new_image_full_page + '")'
              );
            }

            if ($sidebar_responsive.length != 0) {
              $sidebar_responsive.css(
                "background-image",
                'url("' + new_image + '")'
              );
            }
          });

          $(".switch-sidebar-image input").change(function () {
            $full_page_background = $(".full-page-background");

            $input = $(this);

            if ($input.is(":checked")) {
              if ($sidebar_img_container.length != 0) {
                $sidebar_img_container.fadeIn("fast");
                $sidebar.attr("data-image", "#");
              }

              if ($full_page_background.length != 0) {
                $full_page_background.fadeIn("fast");
                $full_page.attr("data-image", "#");
              }

              background_image = true;
            } else {
              if ($sidebar_img_container.length != 0) {
                $sidebar.removeAttr("data-image");
                $sidebar_img_container.fadeOut("fast");
              }

              if ($full_page_background.length != 0) {
                $full_page.removeAttr("data-image", "#");
                $full_page_background.fadeOut("fast");
              }

              background_image = false;
            }
          });

          $(".switch-sidebar-mini input").change(function () {
            $body = $("body");

            $input = $(this);

            if (md.misc.sidebar_mini_active == true) {
              $("body").removeClass("sidebar-mini");
              md.misc.sidebar_mini_active = false;

              $(".sidebar .sidebar-wrapper, .main-panel").perfectScrollbar();
            } else {
              $(".sidebar .sidebar-wrapper, .main-panel").perfectScrollbar(
                "destroy"
              );

              setTimeout(function () {
                $("body").addClass("sidebar-mini");

                md.misc.sidebar_mini_active = true;
              }, 300);
            }

            // chúng ta mô phỏng lại việc thay đổi kích thước cửa sổ để các biểu đồ cập nhật ngay lập tức.
            var simulateWindowResize = setInterval(function () {
              window.dispatchEvent(new Event("resize"));
            }, 180);

            // dừng mô phỏng thay đổi kích thước cửa sổ sau khi hoàn tất animation
            setTimeout(function () {
              clearInterval(simulateWindowResize);
            }, 1000);
          });
        });
      });
    </script>
    <script>
      $(document).ready(function () {
        // Phương thức Javascript có thể tìm thấy trong assets/js/demos.js
        md.initDashboardPageCharts();
      });
    </script>
  </body>
</html>
